body, html { 
   margin: 0;
   padding: 0;
}

header {
background-color: gray;
width: 100vw;
height: 10vh;


}

.logo-container {
   background-color: #4A90E2;
   width: 5vw;
   height: 5vh;
   float: left;
   padding-top: 10px;


}

.text-box {

         display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: stretch;
   

   background-color: white;

   width: 100vw;
   height: 30vh;
   margin-top: 50px;
   margin-bottom: 50px;
   margin-left: 20px;
   margin-right: 20px;

   font-size: larger;
}

.box-1 {
   background-color: #4A90E2;
   width: 100vw;
   height: 15vh;
   
}

.box-2 { 
   background-color: #50E3C2;
   width: 100vw;
   height: 15vh;
   

}

.box-3 {
   background-color: #B8E986;
   width: 100vw;
   height: 15vh;
}

.box-4 {
   background-color: #F8E71C;
   width: 100vw;
   height: 15vh;
}