* {
margin: 0;
padding: 0;

}


header {
   background-color: grey;
   width: 100vw;
   height: 15vh;


}

section{

   background-color: black;
   width: 100vw;
   height: 90vh;
   
   



}

.left-column{ 
   background-color: darkgrey;
   width: 15vw;
   height: 90vh;
   float: left;

}

.mid-column{ 
   background-color: white;
   width: 70vw;
   height: 80vh;
   float: left;

}

.right-column{
   background-color: darkgrey;
   width: 15vw;
   height: 90vh;
   float: right;

   

}

